@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");
body {
  background-color: #D9C9BA;
}

.o-header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0))), url("https://anytimechefs.com.au/wp-content/uploads/2019/09/chefscook.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)), url("https://anytimechefs.com.au/wp-content/uploads/2019/09/chefscook.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 1200px) {
  .o-header {
    background-size: cover;
  }
}

.o-main {
  width: 100;
  background-color: white;
  padding: 20px 30px;
  position: relative;
  top: -420px;
}

@media (min-width: 600px) {
  .o-main {
    width: 95%;
    margin: 0 auto;
    padding: 30px 40px;
  }
}

@media (min-width: 900px) {
  .o-main {
    top: -220px;
    padding: 30px 15%;
  }
}

@media (min-width: 1200px) {
  .o-main {
    width: 90%;
  }
}

.o-main h1, .o-main h2, .o-main h3, .o-main h4, .o-main h5 {
  font-family: 'Montserrat', sans-serif;
}

.o-main p {
  font-family: 'Open Sans', sans-serif;
}

.c-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.c-main__header-icon {
  padding: 5px 15px;
  background-color: #239F46;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
}

.c-main__header-icon:hover {
  background-color: #2DC959;
}

.c-main__header-heading {
  margin: 30px 0 15px 0;
}

@media (min-width: 900px) {
  .c-main__header-heading {
    margin: 30px 0;
    font-size: x-large;
  }
}

.c-main__header-heading i {
  font-size: 20px;
  color: #CF2331;
}

.c-main__header-heading span {
  font-weight: 100;
  font-size: 18px;
}

.c-main__header-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #919191;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  cursor: pointer;
}

@media (min-width: 900px) {
  .c-main__header-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 20px;
  }
}

.c-main__header-image img {
  max-width: 40px;
  width: 100%;
  border-bottom: 8px solid #239F46;
  margin-bottom: 20px;
}

@media (min-width: 900px) {
  .c-main__header-image img {
    max-width: 80px;
  }
}

.c-main__header-text {
  margin: 20px 0;
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: 600px) {
  .c-main__header-text {
    font-size: 20px;
    line-height: 30px;
    margin: 40px 0;
  }
}

.c-main__header-text span {
  text-decoration: underline;
}

.c-main__restaurants-item {
  margin-bottom: 40px;
}

.c-main__restaurants-item-title {
  text-decoration: underline;
  color: #919191;
  margin-bottom: 20px;
  cursor: pointer;
}

.c-main__restaurants-item-title:hover {
  color: #221F1F;
}

.c-main__restaurants-item-image {
  cursor: pointer;
  max-width: 100%;
}

.c-main__restaurants-item-image img {
  width: 100%;
}

.e-blog {
  display: none;
  font-size: 18px;
}

.e-blog a {
  color: white;
  margin-left: 40px;
}

@media (min-width: 600px) {
  .e-blog {
    display: inline-block;
  }
}

.e-burger {
  width: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

.e-burger:hover div:nth-child(1) {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.e-burger:hover div:nth-last-child(1) {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.e-burger__line {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  height: 2px;
  border-top: 2px solid white;
  padding: 2px 0;
  width: 100%;
}

.e-logo {
  font-size: 30px;
  display: inline-block;
  cursor: pointer;
  line-height: 7px;
}

.e-logo a {
  color: white;
}

@media (max-width: 400px) {
  .e-logo {
    font-size: 20px;
  }
}

.e-logo span {
  color: #239F46;
}

.e-nav {
  font-family: 'Yusei Magic', sans-serif;
  background-color: white;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  font-size: 30px;
  padding-left: 30px;
  font-weight: bolder;
  overflow: hidden;
  -webkit-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
}

.e-nav__icon {
  margin: 30px 0;
  cursor: pointer;
  display: inline-block;
}

.e-nav__icon:hover {
  color: #CF2331;
}

.e-nav__list ul > li {
  margin-bottom: 10px;
}

.e-nav__list ul > li a:hover {
  color: #CF2331;
}

.e-nav__list ul > li:nth-last-child(1) {
  margin-bottom: 30px;
}

.e-nav .e-blog {
  padding: 30px 0;
  border-top: 1px solid #D9C9BA;
  width: 90%;
  display: block;
  font-size: 30px;
}

@media (min-width: 900px) {
  .e-nav .e-blog {
    width: 95%;
  }
}

.e-nav .e-blog a {
  color: #CF2331;
  margin-left: 0;
}

.e-nav a {
  color: #221F1F;
}

.u-none {
  display: none;
}

.u-block {
  display: block;
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  outline: none;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

li {
  list-style-type: none;
}

input {
  border: none;
}

button {
  border: none;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */