@import '../settings/s-breakpoints';
@import '../settings/s-colors';
@import '../settings/s-fonts';

.e-logo {
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    line-height: 7px;
    
    a {
        color: white;
    }

    @include for-small-phone {
        font-size: 20px;
    }

    span {
        color: $green;
    }
}