
$black: #221F1F;
$red: #CF2331;
$green: #239F46;
$blue: #4BB7DE;
$grass: #2DC959;

$secondary-400: #D9C9BA;
$secondary-200: #F0F0F2;

$dark-600: #4d4751;

$blue-50: #E3F3FD;
$blue-100: #BCE0FC;
$blue-200: #92CDFB;
$blue-300: #66B9F8;
$blue-400: #44A9F8;

$violet: #9A5DC6;

$grey-100: #f1f1f1;
$grey-200: #e6e6e6;
$grey-400: #b2b2b2;
$grey-500: #919191;
$grey-600: #696969;
$grey-700: #565656;

